body {
            background:url('../../images/admin_login.png') no-repeat center right #e8e8e8 fixed;

        }
		@media (min-width: 320px) and (max-width: 1023px) {
            body {
                background: url('../../images/admin_login.png') no-repeat center right #e8e8e8 fixed;

            }
        }

        @media (min-width: 1024px) and (max-width: 1360px) {
            body {
                background:url('../../images/admin_login.png') no-repeat center right #e8e8e8 fixed;

            }
        }

        @media (min-width: 1361px) and (max-width: 1960px) {
            body {
                background:url('../../images/admin_login.png') no-repeat center right #e8e8e8 fixed;

            }
        }